html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    background: linear-gradient(to right, #abbaab, #ffffff);
    min-height: calc(100vh - 100px);
    background-attachment: fixed;
}

.main-conainer {
    width: 100%;
    position: relative;
}

header {
    height: 350px;
    text-align: center;
    background-color: #ddd;
    box-shadow: 1px 1px 1px #ccc;
}

.header-text {
    padding: 2em 0 .5em;
    font-size: 3em;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #212121;
    color: white;
}

footer {
    min-height: 140px;
    background-color: #212121;
    color: #eee;
}

footer h3 {
    padding: 1.5em 0;
    text-align: center;
}

.intro-section {
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 1.3em;
    max-width: 1000px;;
}

.intro-text p {
    margin: 1em 0;
    text-align: justify;
}

.intro-section h1 {
    margin: 2em 0;
}

.register-section, .login {
    width: 80%;
    text-align: center;
    margin: 2em auto;
    padding: 2em;
}

.register-section h3, .login h3 {
    padding: 2em 0;
}

.welcome-buttons {
    margin: 2em 0;
}

.form-home {
    display: inline-block;
    width: 200px;
}

.image-directions {
    font-size: 1.2em;
    margin: 1em 0;
}

.image-directions ol li {
    margin: .5em 0;
}

.image-directions ol li a {
    color: rgb(15, 120, 155);
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding: 20px;
}

li a {
    color: #fff;
}

input, textarea {
    font-size: 1em;
    padding: .5em;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 80%;
}

.btn, .btn-home {
    background-color: rgb(15, 120, 155);
    margin: .5em;
    padding: .5em 1em;
    cursor: pointer;
    box-shadow: 1px 1px 3px gray;
    border: none;
    color: #efefef;
    font-weight: 300;
    font-size: 20px;
}

.btn {
    width: auto;
}

.btn-story {
    float: right;
}

.btn-home {
    width: 120px;
}

.btn-form {
    width: 200px;
}

.btn:hover, .btn-home:hover {
    box-shadow: 0 0 0;
    color: #ddd;
}

.welcome-buttons:after, .btn-form:after {
    content:'';
    display:block; /* or whatever else than inline */
    clear:both;
}