html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    background: white;
    font-family: sans-serif;
    font-size: 14px;
}

.main-conainer {
    width: 100%;
    position: relative;
}

header {
    height: 140px;
    text-align: center;
}

.header-text {
    padding: 2em;
    font-size: 3em;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #212121;
    color: white;
    margin-bottom: 20px;
}

footer {
    min-height: 140px;
    background-color: #212121;
    color: #eee;
}

footer h3 {
    padding: 1.5em 0;
    text-align: center;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding: 20px;
}

li a {
    color: #fff;
}

input, button, textarea {
    font-size: 1em;
    padding: .5em;
    border-radius: 3px;
    margin-bottom: 10px;
}