<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="layouts/main.css">
    <link rel="stylesheet" href="blogs.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/new-post">New Post</a></li>
            <li>Sign Out</li>
        </ul>
    </nav>
        <div class="main-container">
            {{{body}}}
        </div>
    <h3>Here is the footer</h3>
</body>
</html>