{{message}}

<div class="blog-section">
    <div class="blog-post">
        <h3 class="post-title">{{post.title}}</h3>
        <p class="post-author">by: {{post.author}}</p>
        <p class="post-content">{{post.content}}</p>
    </div>
</div>