<div class="login">
    <h3>Login:</h3>
    <form method="post" action="/login">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password"><br>
        <button class="btn btn-form" type="submit">Login</button>
    </form>
</div>