<div class="new-story">
    <h1>Create a new story</h1>
    <div class="story-form">
        <form method="post" action="/blog">
            <input type="text" name="title" placeholder="Title"><br />
            <input type="text" name="firstName" placeholder="First Name"><br />
            <input type="text" name="lastName" placeholder="Last Name"><br />
            <input type="text" name="headerImg" placeholder="Header Image URL"><br />
            <textarea rows="12" cols="40" name="content" placeholder="Content"></textarea><br />
            <button type="submit">Submit</button>
        </form>
    </div>
</div>