<div class="register-section">
    <h3>Register your account:</h3>
    <form method="post" action="/register">
        <input type="text" name="firstName" placeholder="First Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="text" name="username" placeholder="User Name">
        <input type="password" name="password" placeholder="Password"><br>
        <button class="btn btn-form" type="submit">Submit</button>
    </form>
</div>
