<div class="intro-section">
    <h1>Welcome</h1>
    <div class="intro-text">
        <p>
            The idea behind this site is to showcase short, informal pieces of literature that
            are based on an image that inspires the author. Unsplash has some amazing images, 
            and they're free to use online, so we're focusing on using those.
        </p>
        <p>
            Feel free to read, write or both. Upvote the pieces you like best, 
            and pass us along to your friends and help us grow.
        </p>
        <p>Short fiction, poetry, whatever...all are welcome.</p>
        <p>
            Grab an unsplash image you like and get inspired!
        </p>
    </div>

    <div class="welcome-buttons">
        <form class="form-home" action="/register" method="get">
            <button class="btn-home" type="submit">Register</button>
        </form>
        <form class="form-home" action="/login" method="get">
            <button class="btn-home" type="submit">Login</button>
        </form>
    </div>
</div>